html, .centeredBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    min-width: 200px;
}
